#Quan trọng, dùng để liên kết tiến trình bot với Discord (không được để lộ ra bên ngoài)
BOT_TOKEN=''
DEV_TOKEN=''

# Dùng để kích hoạt tính năng các tính năng phát nhạc thông qua Spotify (yêu cầu Spotify Premium)
SPOTIPY_CLIENT_ID=''
SPOTIPY_CLIENT_SECRET=''
SPOTIPY_REDIRECT_URI=https://example.com/callback

#ID Admin và máy chủ quản trị để bot gửi thông tin người dùng xin Record
ADMIN_USER_ID=''
TARGET_SERVER_ID=''
TARGET_CHANNEL_ID=''

# Dùng để kích hoạt tính năng phát nhạc chất lượng cao từ Deezer (yêu cầu Deezer Premium)
# Hướng dẫn lấy ARL trên trình duyệt nhân Chrominum (Chrome, Edge...): F12 -> Application -> cookies -> url -> arl
DEEZER_ARL=''

# Dùng để tải các bài hát nặng hơn giới hạn của Discord lên xô S3
ENDPOINT_URL=''
AWS_SECRET_KEY_ID=''
AWS_SECRET_KEY=''
BUCKET_NAME=''
CUSTOM_DOMAIN=''


# Tùy chọn, dùng để hiển thị ảnh bìa của bài hát từ nguồn khác (Không phải Spotify)
IMGUR_CLIENT_ID=''

# Tùy chọn, dùng để kích hoạt tính năng chatbot
GEMINI_API_KEY=''
PINECONE_API_KEY='' # Dùng để "lưu lại ký ức" của chatbot

# Token công khai để lấy lời bài hát
MUSIXMATCH_TOKEN=2409095212d200314bee4e9eedc62a9325d7f3c264baa9c95a70b2
PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python